In [2]:
import numpy as np 
import pandas as pd 
import plotly.express as px 
import plotly.graph_objects as go 
import plotly.offline as pyo
import plotly.figure_factory as ff
import dash 
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

In [8]:
call = dash.Dash()

call.layout = html.Div([
    dcc.Input(id = 'f1', value = 'hello world', type = 'text'),
    html.Div(id = 'div_1')
]
)
@call.callback(
    Output(component_id= 'div_1', component_property= 'children'),
    [Input(component_id= 'f1', component_property= 'value')],
    prevent_initial_call=True
)

def update_output(input_v):
    return f'you enterned {input_v}'

# call.run()

In [9]:
c1_data = pd.read_csv('../data/gapminderDataFiveYear.csv')
c1_data.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [11]:
year_d = [i for i in c1_data.year.drop_duplicates()]

year_d

[1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002, 2007]

In [28]:
color_map = dict(Asia = 'red',
                 Europe = 'orange',
                 Africa = 'green',
                 Americas = 'blue',
                 Oceania = 'pink')

c1 = dash.Dash()

c1.layout = html.Div([
    dcc.Graph(
        id = 'call_1'
    ),
    dcc.Dropdown(id = 'drop_year', 
                 options  = [dict(label = i, value = i) for i in year_d],
                 value = 1952
                 )
])

@c1.callback(Output(component_id= 'call_1', component_property= 'figure'),
             [Input(component_id= 'drop_year', component_property= 'value')])

def plot_out(select_year):
    df_t = c1_data.loc[c1_data.year == select_year,]
    plot_data = [go.Scatter(x = df_t.loc[df_t.continent == ct,'gdpPercap'],
                            y =  df_t.loc[df_t.continent == ct,'lifeExp'],
                            mode = 'markers',
                            name = ct,
                            text = df_t.country,
                            marker = dict(color = color_map[ct])
                            ) for ct in df_t.continent.drop_duplicates()]
    plot_layout = go.Layout( title = 'happy',
                            xaxis= dict(title = 'GDP per capita'),
                            yaxis= dict(title = 'Life long'),
                            hovermode= 'closest'
                            
    )
    return dict(data = plot_data,
                layout = plot_layout)

c1.run()

In [15]:
[dict(label = str(i), value = str(i)) for i in year_d]

[{'label': '1952', 'value': '1952'},
 {'label': '1957', 'value': '1957'},
 {'label': '1962', 'value': '1962'},
 {'label': '1967', 'value': '1967'},
 {'label': '1972', 'value': '1972'},
 {'label': '1977', 'value': '1977'},
 {'label': '1982', 'value': '1982'},
 {'label': '1987', 'value': '1987'},
 {'label': '1992', 'value': '1992'},
 {'label': '1997', 'value': '1997'},
 {'label': '2002', 'value': '2002'},
 {'label': '2007', 'value': '2007'}]