In [1]:
# TASK 1: Import pandas and numpy

import pandas as pd 
import numpy as np

In [4]:
# TASK 2: Set Numpy's random number generator seed to 101

np.random.seed(101)

# TASK 3: Create a NumPy Matrix of 100 rows by 5 columns consisting of
#         random integers from 1-100. (Keep in mind that the upper
#         limit may be exclusive.)

t1 = np.random.randint(0,101,(100, 5))

In [5]:
# TASK 4: Now use pd.DataFrame() to read in this numpy array as a dataframe.
#         Simple pass in the numpy array into that function to get back a
#         dataframe. Pandas will auto label the columns to 0-4

pd.DataFrame(t1)

     0   1   2   3   4
0   95  11  81  70  63
1   87  75   9  77  40
2    4  63  40  60  92
3   64   5  12  93  40
4   49  83   8  29  59
..  ..  ..  ..  ..  ..
95  93  37  87  66  16
96  60  25  99  30  41
97  72  45  26  87  65
98  60  89  70  33  59
99  28  16  49  95  41

[100 rows x 5 columns]

In [ ]:
# TASK 5: Using your previously created DataFrame, use [df.columns = [...]]
#         (https://stackoverflow.com/questions/11346283/renaming-columns-in-pandas)
#         to rename the pandas columns to be ['f1','f2','f3','f4','label'].

pd.DataFrame(t1, columns= ['f1','f2','f3','f4','label'])

In [9]:
# TASK 6: Alright, all the other tasks were hopefully straightforward.
#         This final task will allow you to quickly check to see if you are at
#         the right level with pandas! Do the following:
#         Create a dataframe with the columns ['A','B','C','D'] with each column
#         having 50 rows of random numbers for data. The random numbers should be
#         between 0 and 100. (Hint: Use numpy to create the numbers, then pass
#         it in to pd.DataFrame(), check out the data= and index= parameters
#         for that call.)

pd.DataFrame(np.random.randint(0,101,(50,4)), columns = ['A','B','C','D'])

      A   B    C    D
0    97  79    7   65
1    50  53    4   39
2     1   5   67   92
3    50  59    2   91
4    14  12   68   87
5    13  18  100    4
6    89  22   40    7
7     2  83   19   68
8    89  16    1    2
9    73  65   24   84
10   17  21   97   44
11   36  38   93   32
12    5  76   19   33
13   76  41   21   20
14   54  77   62   99
15    4  52   83   55
16   11  46   39   92
17   34  54   49   11
18   62  11   83   25
19   32  40   27   30
20   92  59   86   74
21   17  69   85    4
22    5  49   29   41
23   38  22   45   10
24   65  77   72   90
25   80  64   81   20
26    2  20   53   38
27   94  49   26   88
28   21  38   52   74
29   96  19   77    5
30   70  27   92    6
31   97  71   23   90
32   78  85   61   79
33   54  56   64   41
34   61  56    2   86
35   19  77    5   44
36   15  75   70  100
37   12  13   93   21
38   46  28   20   70
39   14  56   19   79
40   59  33   33   11
41   44  43   93    3
42   39  77    3   58
43   51  32   46    8
44    9  13   63   59
45   79   5   33   47
46   29  79   62   25
47  100  43   46   94
48   68  55   69   41
49   41  14   47    3

array([[11, 86, 15, 95],
       [91, 19, 69,  1],
       [77, 63, 87, 28],
       [70,  5,  3, 12],
       [62, 26, 96, 61],
       [87, 74, 99, 97],
       [64, 95,  3, 88],
       [59, 38, 29, 31],
       [88, 57,  9, 62],
       [31, 13, 35, 47],
       [ 2, 17, 50, 22],
       [30, 36, 22, 97],
       [51, 38, 28,  4],
       [ 0, 12, 90,  2],
       [ 7, 44, 54, 49],
       [76, 98,  3, 32],
       [91, 43,  7, 42],
       [66,  9,  5, 26],
       [66, 22, 47, 27],
       [46, 14, 52, 74],
       [54,  3, 94, 36],
       [63, 41, 18, 37],
       [45, 82, 47, 66],
       [97, 20,  9, 87],
       [40, 13, 95, 16],
       [38, 87, 72, 60],
       [78, 53, 48, 83],
       [90, 41, 84, 78],
       [55, 70, 93, 57],
       [86, 67,  8, 47],
       [70, 39, 53,  5],
       [40, 88, 58, 12],
       [70,  5, 82,  8],
       [60, 58, 45, 92],
       [85, 44, 62, 39],
       [38, 54, 98, 80],
       [93, 16, 37, 58],
       [40, 72, 72, 22],
       [42, 38, 45, 16],
       [52, 17, 22, 15],
       [18, 37, 48,  2],
       [ 2, 31, 50, 78],
       [70, 40, 60, 62],
       [69, 34, 95, 58],
       [ 4, 70, 20, 18],
       [66, 23, 87, 45],
       [64,  6, 39, 29],
       [60, 33, 18, 59],
       [64, 59, 65, 10],
       [86, 66, 38, 76]])