In [2]:
import numpy as np 
import pandas as pd 
import plotly.offline as pyo
import plotly.graph_objects as go
import plotly.express as px

In [8]:
bubb = pd.read_csv('../Data/mpg.csv', header = 0).sort_values(by= 'horsepower', ascending= True)

bubb = bubb.loc[bubb.horsepower != '?',]
bubb['horsepower'] = bubb.horsepower.astype(int)
bubb.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
133,16.0,6,250.0,100,3781,17.0,74,1,chevrolet chevelle malibu classic
98,16.0,6,250.0,100,3278,18.0,73,1,chevrolet nova custom
256,20.5,6,225.0,100,3430,17.2,78,1,plymouth volare
107,18.0,6,232.0,100,2789,15.0,73,1,amc gremlin
334,23.7,3,70.0,100,2420,12.5,80,3,mazda rx-7 gs

In [9]:
bubb_data = go.Scatter(x = bubb.horsepower, 
                       y = bubb.mpg,
                       mode = 'markers')
bubb_lay = go.Layout(title = 'mpg/Cylinders',
                     xaxis= dict(title = 'HorsePower'),
                     yaxis= dict(title = 'MPG'))

fg1 = go.Figure(data = bubb_data, layout= bubb_lay)

pyo.plot(fg1)

'temp-plot.html'

In [25]:
bubb_data_2 = go.Scatter(x = bubb.horsepower, 
                        y = bubb.mpg,
                        text= bubb.name + ' | ' + bubb.cylinders.astype(str),
                       mode = 'markers',
                       marker= dict(size = 1.2* bubb.cylinders,
                                    color= bubb.cylinders,
                                    showscale = True
                                    ))

bubb_lay_2 = go.Layout(title = 'mpg/Cylinders',
                     xaxis= dict(title = 'HorsePower'),
                     yaxis= dict(title = 'MPG'),
                     hovermode= 'closest')

fg2 = go.Figure(data = bubb_data_2, layout= bubb_lay_2)

pyo.plot(fg2)

'temp-plot.html'

In [ ]:
#######
# Objective: Create a bubble chart that compares three other features
# from the mpg.csv dataset. Fields include: 'mpg', 'cylinders', 'displacement'
# 'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'name'
######
bubb.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
133,16.0,6,250.0,100,3781,17.0,74,1,chevrolet chevelle malibu classic
98,16.0,6,250.0,100,3278,18.0,73,1,chevrolet nova custom
256,20.5,6,225.0,100,3430,17.2,78,1,plymouth volare
107,18.0,6,232.0,100,2789,15.0,73,1,amc gremlin
334,23.7,3,70.0,100,2420,12.5,80,3,mazda rx-7 gs

In [40]:
# create data by choosing fields for x, y and marker size attributes

bubb_exc = go.Scatter(x= bubb.displacement,
                      y= bubb.acceleration, 
                      mode = 'markers',
                      text = bubb.name + ' | ' + bubb.cylinders.astype(str),
                      marker= dict(size = 0.2* bubb.horsepower)
)

# create a layout with a title and axis labels
bubb_exc_lay = go.Layout(title = 'Vechical acc VS DIS',
                         xaxis = dict(title = 'displacement'),
                         yaxis = dict(title = 'acceleration'),
                         hovermode = 'closest'
)

bubb_e1 = go.Figure(data= bubb_exc, layout= bubb_exc_lay)

pyo.plot(bubb_e1)

'temp-plot.html'