In [1]:
import pandas as pd 
import numpy as ny 
import plotly.express as px
import plotly.graph_objects as go
import plotly.offline as pyo

In [2]:
medal = pd.read_csv('../Data/2018WinterOlympics.csv', header = 0)

medal.head()

   Rank            NOC  Gold  Silver  Bronze  Total
0     1         Norway    14      14      11     39
1     2        Germany    14      10       7     31
2     3         Canada    11       8      10     29
3     4  United States     9       8       6     23
4     5    Netherlands     8       6       6     20

In [9]:
bar1= go.Bar(x = medal.NOC, 
             y = medal.Total)

bar_lay1 = go.Layout(title = 'first Bar')

fig = go.Figure(data = bar1, layout= bar_lay1)

pyo.plot(fig)

'temp-plot.html'

In [29]:
color_map = {
    'Gold': 'gold',
    'Silver': 'silver',
    'Bronze': '#cd7f32'  # Bronze isn't a named color, use hex code
}


bar2 = [go.Bar(x = medal.NOC, 
               y = medal[i],
               name = i,
               marker= dict(color = color_map[i]))
        for i in ['Gold', 'Silver', 'Bronze']]

bar_lay2 = go.Layout(title = 'first Bar',
                     xaxis= dict(title = 'Country'),
                     yaxis= dict(title = 'Medal_ct'))

f2 = go.Figure(data= bar2, layout= bar_lay2)

pyo.plot(f2)

'temp-plot.html'

In [30]:
color_map = {
    'Gold': 'gold',
    'Silver': 'silver',
    'Bronze': '#cd7f32'  # Bronze isn't a named color, use hex code
}

bar3 = [go.Bar(x = medal.NOC, 
               y = medal[i],
               name = i,
               marker= {'color': color_map[i] })
        for i in ['Gold', 'Silver', 'Bronze']]

bar_lay3 = go.Layout(title = 'first Bar',
                     xaxis= dict(title = 'Country'),
                     yaxis= dict(title = 'Medal_ct'),
                     barmode= 'stack')

f3 = go.Figure(data= bar3, layout= bar_lay3)

pyo.plot(f3)

'temp-plot.html'

In [32]:
[i.lower() for i in ['Gold', 'Silver', 'Bronze']]

['gold', 'silver', 'bronze']

In [36]:
#######
# Objective: Create a stacked bar chart from
# the file ../data/mocksurvey.csv. Note that questions appear in
# the index (and should be used for the x-axis), while responses
# appear as column labels.  Extra Credit: make a horizontal bar chart!
######

# create a DataFrame from the .csv file:

bar_exc = pd.read_csv('../Data/mocksurvey.csv', header= 0)

bar_exc.head()

,Unnamed: 0,Strongly Agree,Somewhat Agree,Neutral,Somewhat Disagree,Strongly Disagree
0,Question 1,0.45,0.25,0.10,0.12,0.08
1,Question 2,0.12,0.07,0.48,0.18,0.15
2,Question 3,0.05,0.22,0.19,0.23,0.31

In [42]:
# create traces using a list comprehension:

bar_e = [go.Bar(x = bar_exc.iloc[:,0],
                y = bar_exc[i],
                name = i)
         for i in bar_exc.columns[1:]]

# create a layout, remember to set the barmode here

lay_e = go.Layout(title= 'Bar exercise 1',
                  xaxis= dict(title = 'Questions'),
                  yaxis= dict(title = 'agree_perc'), 
                  barmode= 'stack')

exc_fig = go.Figure(data = bar_e, layout= lay_e)

pyo.plot(exc_fig)

'temp-plot.html'

In [45]:
# create traces using a list comprehension:

bar_e_t = [go.Bar(x = bar_exc[i],
                  y = bar_exc.iloc[:,0],
                  name = i,
                  orientation='h')
         for i in bar_exc.columns[1:]]

# create a layout, remember to set the barmode here

lay_e_t = go.Layout(title= 'Bar exercise 1',
                  xaxis= dict(title = 'agree_perc'),
                  yaxis= dict(title = 'Questions'), 
                  barmode= 'stack')

exc_fig_t = go.Figure(data = bar_e_t, layout= lay_e_t)

pyo.plot(exc_fig_t)

'temp-plot.html'