In [1]:
import pandas as pd 
import numpy as np
import plotly.express as px 
import plotly.graph_objects as go
import plotly.offline as pyo

In [26]:
np.random.seed(65)

b1 = [x for x in np.random.randint(0,20, 30)]

box_t = go.Box(y = b1)

box_f = go.Figure(data = box_t)
pyo.plot(box_f)

'temp-plot.html'

In [ ]:
box = [go.Box(y = b1, 
             boxpoints = 'all', #displat the original data points
             jitter = 0.3, # spread them out so they all appear
             pointpos = -1.8 # offset them to the left of the box
             )
             ]

pyo.plot(box)

'temp-plot.html'

In [28]:
box = [go.Box(y = b1, 
             boxpoints = 'outliers', #displat the original data points
             jitter = 0.3, # spread them out so they all appear
             pointpos = -1.8 # offset them to the left of the box
             )
             ]

pyo.plot(box)

'temp-plot.html'

In [3]:
#######
# Objective: Make a DataFrame using the Abalone dataset (../data/abalone.csv).
# Take two independent random samples of different sizes from the 'rings' field.
# HINT: np.random.choice(df['rings'],10,replace=False) takes 10 random values
# Use box plots to show that the samples do derive from the same population.
######

# create a DataFrame from the .csv file:
box_exs = pd.read_csv('../data/abalone.csv')
box_exs.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [11]:
# take two random samples of different sizes:

box_data = [go.Box(y = box_exs.loc[box_exs.sex == i, 'whole_weight'],
                   name = i,
                   jitter = 0.3)
            for i in box_exs.sex.drop_duplicates()]

# create a data variable with two Box plots:

box_lay = go.Layout(title = 'Box_plot')

fbox = go.Figure(data = box_data, layout= box_lay)

pyo.plot(fbox)

'temp-plot.html'