In [2]:
import numpy as np
import pandas as pd 
import plotly.express as px 
import plotly.graph_objects as go
import plotly.offline as pyo
import plotly.figure_factory as ff

In [13]:
heat1 = pd.read_csv('../data/2010SantaBarbaraCA.csv')
heat2 = pd.read_csv('../data/2010SitkaAK.csv')
heat3 = pd.read_csv('../data/2010YumaAZ.csv')

In [ ]:
data_list = [heat1, heat2, heat3]
heat_d = [go.Heatmap(x = i.DAY, 
                     y = i.LST_TIME,
                     z = i.T_HR_AVG.tolist(),
                     colorscale= 'Jet',
                     zmax= 40,
                     zmin= 5) for i in data_list]

In [22]:
from plotly import tools

f_heat = tools.make_subplots(rows = 1, cols = 3, 
                             subplot_titles = ['CA', 'AK', 'AZ'],
                             shared_yaxes= True)

f_heat.append_trace(heat_d[0], 1, 1)
f_heat.append_trace(heat_d[1], 1, 2)
f_heat.append_trace(heat_d[2], 1, 3)

pyo.plot(f_heat)

'temp-plot.html'

In [23]:
#######
# Objective: Using the "flights" dataset available
# from the data folder as flights.csv
# create a heatmap with the following parameters:
# x-axis="year"
# y-axis="month"
# z-axis(color)="passengers"
######

# Create a DataFrame from  "flights" data
flt = pd.read_csv('../data/flights.csv')

flt.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [25]:
flt_plot = go.Heatmap(x = flt.year,
                      y = flt.month,
                      z = flt.passengers.tolist(),
)

flt_fig = go.Figure(data = flt_plot)
flt_fig.layout.update(title = 'Heatplot Exercises')
pyo.plot(flt_fig)

'temp-plot.html'